In [6]:
# import the necessary packages 
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
from matplotlib import gridspec

In [7]:
train_clients = pd.read_csv("/content/drive/MyDrive/client_train.csv")

In [8]:
train_invoice = pd.read_csv("/content/drive/MyDrive/train_invoice.csv")

/usr/local/lib/python2.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [10]:
train_clients.head()

   disrict          client_id  client_catg  region creation_date  target
0     60.0     train_Client_0         11.0   101.0    31-12-1994     0.0
1     69.0     train_Client_1         11.0   107.0    29-05-2002     0.0
2     62.0    train_Client_10         11.0   301.0    13-03-1986     0.0
3     69.0   train_Client_100         11.0   105.0    11-07-1996     0.0
4     62.0  train_Client_1000         11.0   303.0    14-10-2014     0.0

In [11]:
train_invoice.head()

,client_id,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
0,train_Client_0,2014-03-24,11,1335667,0,203,8,1,82,0,0,0,14302,14384,4,ELEC
1,train_Client_0,2013-03-29,11,1335667,0,203,6,1,1200,184,0,0,12294,13678,4,ELEC
2,train_Client_0,2015-03-23,11,1335667,0,203,8,1,123,0,0,0,14624,14747,4,ELEC
3,train_Client_0,2015-07-13,11,1335667,0,207,8,1,102,0,0,0,14747,14849,4,ELEC
4,train_Client_0,2016-11-17,11,1335667,0,207,9,1,572,0,0,0,15066,15638,12,ELEC

In [12]:
import time 
import datetime

In [13]:
def convertdate(x):
    element = datetime.datetime.strptime(x,"%Y-%m-%d")   
    tuple = element.timetuple() 
    timestamp = time.mktime(tuple)
    return timestamp

def convertdate2(x):
    element = datetime.datetime.strptime(x,"%d-%m-%Y")   
    tuple = element.timetuple() 
    timestamp = time.mktime(tuple)
    return timestamp

In [14]:
train_invoice["invoice_date"]=train_invoice["invoice_date"].apply(convertdate)

In [15]:
train_clients["creation_date"]=train_clients["creation_date"].apply(convertdate2)

In [16]:
train_clients.head()

   disrict          client_id  client_catg  region  creation_date  target
0     60.0     train_Client_0         11.0   101.0   7.888320e+08     0.0
1     69.0     train_Client_1         11.0   107.0   1.022630e+09     0.0
2     62.0    train_Client_10         11.0   301.0   5.110560e+08     0.0
3     69.0   train_Client_100         11.0   105.0   8.370432e+08     0.0
4     62.0  train_Client_1000         11.0   303.0   1.413245e+09     0.0

In [17]:
train_invoice.head()

,client_id,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
0,train_Client_0,1.395619e+09,11,1335667,0,203,8,1,82,0,0,0,14302,14384,4,ELEC
1,train_Client_0,1.364515e+09,11,1335667,0,203,6,1,1200,184,0,0,12294,13678,4,ELEC
2,train_Client_0,1.427069e+09,11,1335667,0,203,8,1,123,0,0,0,14624,14747,4,ELEC
3,train_Client_0,1.436746e+09,11,1335667,0,207,8,1,102,0,0,0,14747,14849,4,ELEC
4,train_Client_0,1.479341e+09,11,1335667,0,207,9,1,572,0,0,0,15066,15638,12,ELEC

In [18]:
train=train = pd.merge(train_invoice, train_clients, on="client_id")

In [19]:
train.head()

,client_id,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,...,consommation_level_4,old_index,new_index,months_number,counter_type,disrict,client_catg,region,creation_date,target
0,train_Client_0,1.395619e+09,11,1335667,0,203,8,1,82,0,...,0,14302,14384,4,ELEC,60.0,11.0,101.0,788832000.0,0.0
1,train_Client_0,1.364515e+09,11,1335667,0,203,6,1,1200,184,...,0,12294,13678,4,ELEC,60.0,11.0,101.0,788832000.0,0.0
2,train_Client_0,1.427069e+09,11,1335667,0,203,8,1,123,0,...,0,14624,14747,4,ELEC,60.0,11.0,101.0,788832000.0,0.0
3,train_Client_0,1.436746e+09,11,1335667,0,207,8,1,102,0,...,0,14747,14849,4,ELEC,60.0,11.0,101.0,788832000.0,0.0
4,train_Client_0,1.479341e+09,11,1335667,0,207,9,1,572,0,...,0,15066,15638,12,ELEC,60.0,11.0,101.0,788832000.0,0.0

In [20]:



train["time"]=train["invoice_date"]-train["creation_date"]

In [21]:
train.head()

,client_id,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,...,old_index,new_index,months_number,counter_type,disrict,client_catg,region,creation_date,target,time
0,train_Client_0,1.395619e+09,11,1335667,0,203,8,1,82,0,...,14302,14384,4,ELEC,60.0,11.0,101.0,788832000.0,0.0,606787200.0
1,train_Client_0,1.364515e+09,11,1335667,0,203,6,1,1200,184,...,12294,13678,4,ELEC,60.0,11.0,101.0,788832000.0,0.0,575683200.0
2,train_Client_0,1.427069e+09,11,1335667,0,203,8,1,123,0,...,14624,14747,4,ELEC,60.0,11.0,101.0,788832000.0,0.0,638236800.0
3,train_Client_0,1.436746e+09,11,1335667,0,207,8,1,102,0,...,14747,14849,4,ELEC,60.0,11.0,101.0,788832000.0,0.0,647913600.0
4,train_Client_0,1.479341e+09,11,1335667,0,207,9,1,572,0,...,15066,15638,12,ELEC,60.0,11.0,101.0,788832000.0,0.0,690508800.0

In [22]:
train.drop('invoice_date',axis=1, inplace = True)
train.head()

,client_id,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,...,old_index,new_index,months_number,counter_type,disrict,client_catg,region,creation_date,target,time
0,train_Client_0,11,1335667,0,203,8,1,82,0,0,...,14302,14384,4,ELEC,60.0,11.0,101.0,788832000.0,0.0,606787200.0
1,train_Client_0,11,1335667,0,203,6,1,1200,184,0,...,12294,13678,4,ELEC,60.0,11.0,101.0,788832000.0,0.0,575683200.0
2,train_Client_0,11,1335667,0,203,8,1,123,0,0,...,14624,14747,4,ELEC,60.0,11.0,101.0,788832000.0,0.0,638236800.0
3,train_Client_0,11,1335667,0,207,8,1,102,0,0,...,14747,14849,4,ELEC,60.0,11.0,101.0,788832000.0,0.0,647913600.0
4,train_Client_0,11,1335667,0,207,9,1,572,0,0,...,15066,15638,12,ELEC,60.0,11.0,101.0,788832000.0,0.0,690508800.0

In [23]:
train.drop('creation_date',axis=1, inplace = True)
train.head()

,client_id,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type,disrict,client_catg,region,target,time
0,train_Client_0,11,1335667,0,203,8,1,82,0,0,0,14302,14384,4,ELEC,60.0,11.0,101.0,0.0,606787200.0
1,train_Client_0,11,1335667,0,203,6,1,1200,184,0,0,12294,13678,4,ELEC,60.0,11.0,101.0,0.0,575683200.0
2,train_Client_0,11,1335667,0,203,8,1,123,0,0,0,14624,14747,4,ELEC,60.0,11.0,101.0,0.0,638236800.0
3,train_Client_0,11,1335667,0,207,8,1,102,0,0,0,14747,14849,4,ELEC,60.0,11.0,101.0,0.0,647913600.0
4,train_Client_0,11,1335667,0,207,9,1,572,0,0,0,15066,15638,12,ELEC,60.0,11.0,101.0,0.0,690508800.0

In [24]:
def convcounter_type(x):
    if x=="ELEC":
        return 1
    else:
        return 0

In [25]:
train['counter_type'] = train['counter_type'].apply(convcounter_type)
train.head()

,client_id,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type,disrict,client_catg,region,target,time
0,train_Client_0,11,1335667,0,203,8,1,82,0,0,0,14302,14384,4,1,60.0,11.0,101.0,0.0,606787200.0
1,train_Client_0,11,1335667,0,203,6,1,1200,184,0,0,12294,13678,4,1,60.0,11.0,101.0,0.0,575683200.0
2,train_Client_0,11,1335667,0,203,8,1,123,0,0,0,14624,14747,4,1,60.0,11.0,101.0,0.0,638236800.0
3,train_Client_0,11,1335667,0,207,8,1,102,0,0,0,14747,14849,4,1,60.0,11.0,101.0,0.0,647913600.0
4,train_Client_0,11,1335667,0,207,9,1,572,0,0,0,15066,15638,12,1,60.0,11.0,101.0,0.0,690508800.0

In [26]:
train["index"]=(train["old_index"]+train["new_index"])/2
train.head()

,client_id,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,...,old_index,new_index,months_number,counter_type,disrict,client_catg,region,target,time,index
0,train_Client_0,11,1335667,0,203,8,1,82,0,0,...,14302,14384,4,1,60.0,11.0,101.0,0.0,606787200.0,14343.0
1,train_Client_0,11,1335667,0,203,6,1,1200,184,0,...,12294,13678,4,1,60.0,11.0,101.0,0.0,575683200.0,12986.0
2,train_Client_0,11,1335667,0,203,8,1,123,0,0,...,14624,14747,4,1,60.0,11.0,101.0,0.0,638236800.0,14685.5
3,train_Client_0,11,1335667,0,207,8,1,102,0,0,...,14747,14849,4,1,60.0,11.0,101.0,0.0,647913600.0,14798.0
4,train_Client_0,11,1335667,0,207,9,1,572,0,0,...,15066,15638,12,1,60.0,11.0,101.0,0.0,690508800.0,15352.0

In [27]:
train.drop('old_index',axis=1, inplace = True)
train.drop('new_index',axis=1, inplace = True)

In [28]:
train.head()

,client_id,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,months_number,counter_type,disrict,client_catg,region,target,time,index
0,train_Client_0,11,1335667,0,203,8,1,82,0,0,0,4,1,60.0,11.0,101.0,0.0,606787200.0,14343.0
1,train_Client_0,11,1335667,0,203,6,1,1200,184,0,0,4,1,60.0,11.0,101.0,0.0,575683200.0,12986.0
2,train_Client_0,11,1335667,0,203,8,1,123,0,0,0,4,1,60.0,11.0,101.0,0.0,638236800.0,14685.5
3,train_Client_0,11,1335667,0,207,8,1,102,0,0,0,4,1,60.0,11.0,101.0,0.0,647913600.0,14798.0
4,train_Client_0,11,1335667,0,207,9,1,572,0,0,0,12,1,60.0,11.0,101.0,0.0,690508800.0,15352.0

In [29]:
train.groupby(["client_id"]).mean().astype(int)

,tarif_type,counter_number,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,months_number,counter_type,disrict,client_catg,region,target,time,index
client_id,,,,,,,,,,,,,,,,,
train_Client_0,11,1335667,203,6,1,352,10,0,0,4,1,60,11,101,0,526156251,9626
train_Client_1,11,678902,203,7,1,557,0,0,0,4,1,69,11,107,0,309645924,14609
train_Client_10,11,572765,203,7,1,798,37,0,0,6,1,62,11,301,0,796713600,33291
train_Client_100,11,2078,413,6,1,1,0,0,0,4,1,69,11,105,0,394308000,94
train_Client_1000,11,19575,207,8,1,663,104,117,36,3,1,62,11,303,0,83295771,7361
train_Client_10000,22,814972,124,7,1,352,10,3,0,4,0,69,11,103,0,607141800,13972
train_Client_100000,25,44463,209,7,1,280,6,0,0,3,0,62,11,309,0,118735200,19932
train_Client_100001,25,590418,106,7,1,327,0,0,0,3,0,60,11,101,0,216075323,6747
train_Client_100002,11,144129,413,7,1,112,0,0,0,4,1,62,11,301,0,12700800,59
train_Client_100003,11,586800,467,9,1,850,1629,320,4882,4,1,60,11,101,0,47329920,13183
train_Client_100004,22,707132,126,6,1,216,0,0,0,3,0,63,12,311,0,76636800,982
train_Client_100005,25,3147709,104,7,1,635,22,0,0,4,0,62,11,304,0,467089768,24052
train_Client_100006,11,1054214,197,7,1,881,158,57,0,3,0,69,11,107,0,207437059,20213
train_Client_100007,11,96640,203,7,1,175,17,0,0,4,1,60,11,101,0,153230400,3665
train_Client_100008,11,729952,203,6,1,0,0,0,0,4,1,69,11,104,0,166713600,2763
train_Client_100009,11,692481,203,7,1,54,0,0,0,4,1,63,11,311,0,200635200,2837
train_Client_10001,25,91895,209,6,1,531,24,0,0,4,0,63,11,312,0,311846400,15761
train_Client_100010,25,159949,106,8,1,314,0,0,0,4,0,69,11,104,0,209923200,5987
train_Client_100011,24,80526,111,8,1,384,117,38,5,4,0,63,11,311,0,124850215,6309
train_Client_100012,11,144686,413,8,1,1131,573,322,47,5,1,60,11,101,0,233539200,23235
train_Client_100013,23,3033338,122,6,1,388,30,9,0,3,0,62,11,305,0,346690800,11752
train_Client_100014,11,77746,207,6,1,279,0,0,0,4,1,60,11,101,0,230745600,6619
train_Client_100015,25,210982,104,6,1,193,0,0,0,4,0,63,11,311,0,230834880,3421
train_Client_100016,25,106148,105,7,1,206,2,0,0,4,0,60,11,101,0,376580415,5520
train_Client_100017,21,350362,133,8,1,724,309,150,68,6,0,69,11,104,0,110894400,9374
train_Client_100018,11,2178700025696,413,8,1,600,300,325,0,3,1,69,11,103,0,26092800,5477
train_Client_100019,11,105850,413,7,1,1072,803,9,0,4,1,69,11,104,0,892656000,43203
train_Client_10002,25,119101,104,6,1,513,35,3,0,4,0,63,11,311,0,467795286,19269
train_Client_100020,11,797617,203,7,1,807,40,0,0,4,1,60,11,101,0,280248908,16687
train_Client_100021,11,2168700026812,420,8,1,266,133,266,4003,2,1,69,51,104,0,42940800,37826
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
train_Client_67472,25,1490942,104,7,1,567,43,14,0,4,0,60,11,101,0,147439058,14517
train_Client_67473,11,55926,413,7,1,812,136,81,0,4,1,63,11,313,0,165808246,55653
train_Client_67474,11,1258020,203,7,1,739,80,5,0,3,1,62,11,301,0,173462400,12159
train_Client_67475,26,3702122,99,6,1,281,0,0,0,4,0,62,11,305,0,312434742,23240
train_Client_67476,11,2165703485500,207,8,1,130,0,0,0,3,1,62,11,303,0,42235200,689
train_Client_67477,24,3275389,110,7,1,303,0,0,0,4,0,69,11,107,0,169462977,4228
train_Client_67478,11,2165702589700,207,8,1,307,0,0,0,4,1,69,11,103,0,36741600,739
train_Client_67479,25,487626,212,8,1,425,74,16,0,4,0,69,11,104,1,30965760,18839
train_Client_6748,11,510224,413,8,1,653,450,272,623,3,1,62,11,302,0,114589963,27132
train_Client_67480,11,1158184,203,6,1,438,0,0,0,4,1,62,11,310,0,412156800,10004
train_Client_67481,25,2478180,106,9,1,244,0,0,0,4,0,63,11,311,0,97372800,2104
train_Client_67482,25,406644,102,8,1,669,204,203,327,3,0,69,11,103,1,95029527,11755
train_Client_67483,26,144294,201,6,1,251,0,0,0,3,0,69,11,103,0,186949542,6536
train_Client_67484,11,1209136,207,6,1,523,123,0,0,6,1,62,11,301,0,656208000,18001
train_Client_67485,11,284241,207,8,1,157,0,0,0,4,1,62,11,307,0,71884800,296
train_Client_67486,25,385984,104,7,1,300,3,0,0,4,0,62,11,301,0,151289485,7969
train_Client_67487,11,586361,203,8,1,465,0,0,0,4,1,62,11,303,0,353802763,6303
train_Client_67488,24,3938398,109,7,1,257,0,0,0,3,0,62,11,301,0,141924000,3663
train_Client_67489,10,8623959,202,6,1,567,195,0,0,6,1,62,11,302,0,986398305,38358
train_Client_6749,11,1328100,203,6,1,373,0,0,0,4,1,62,11,371,0,548905846,20811
train_Client_67490,22,2949434,119,6,1,203,71,0,0,4,0,63,11,312,0,1041928800,5349
train_Client_67491,12,321447881275,413,7,1,4000,4,0,0,6,1,62,11,307,0,742963514,39706
train_Client_67492,25,417815,107,6,1,334,0,0,0,4,0,60,11,101,0,799487550,13368
train_Client_67493,20,7853081,285,7,1,903,2212,0,0,4,0,69,11,103,0,66493440,40124
train_Client_67494,19,1490207,142,7,1,703,58,0,0,3,0,69,11,107,0,504571371,32825
train_Client_67495,23,3072829,120,6,1,697,77,8,0,4,0,69,11,107,0,451702341,18797
train_Client_67496,11,11305,413,6,1,161,0,0,0,4,1,63,11,312,1,463910400,7758
train_Client_67497,25,7434654,103,8,1,509,35,0,0,4,0,62,11,303,0,65529600,33264
train_Client_67498,17,704759,155,6,1,319,0,0,0,4,0,63,11,311,0,136409142,2830
train_Client_67499,11,6301121,410,7,1,345,0,0,0,4,1,63,11,313,0,197004342,142692

In [30]:
from sklearn.preprocessing import StandardScaler

In [31]:
xtrain = train.loc[:,['months_number', 'reading_remarque','consommation_level_4','consommation_level_3','consommation_level_2','consommation_level_1','tarif_type', 'counter_coefficient', 'counter_type','client_catg','region','time','disrict','index','counter_number','counter_code']]

In [32]:
xtrain.head()

,months_number,reading_remarque,consommation_level_4,consommation_level_3,consommation_level_2,consommation_level_1,tarif_type,counter_coefficient,counter_type,client_catg,region,time,disrict,index,counter_number,counter_code
0,4,8,0,0,0,82,11,1,1,11.0,101.0,606787200.0,60.0,14343.0,1335667,203
1,4,6,0,0,184,1200,11,1,1,11.0,101.0,575683200.0,60.0,12986.0,1335667,203
2,4,8,0,0,0,123,11,1,1,11.0,101.0,638236800.0,60.0,14685.5,1335667,203
3,4,8,0,0,0,102,11,1,1,11.0,101.0,647913600.0,60.0,14798.0,1335667,207
4,12,9,0,0,0,572,11,1,1,11.0,101.0,690508800.0,60.0,15352.0,1335667,207

In [33]:
ytrain = train.loc[:,'target']
ytrain = ytrain.values
ytrain

array([0., 0., 0., ..., 0., 0., 0.])

In [34]:
test_clients = pd.read_csv("/content/drive/MyDrive/client_test.csv")
test_invoice = pd.read_csv("/content/drive/MyDrive/test_invoice.csv")

In [35]:
test_invoice["invoice_date"]=test_invoice["invoice_date"].apply(convertdate)
test_clients["creation_date"]=test_clients["creation_date"].apply(convertdate2)

In [36]:
test= pd.merge(test_invoice, test_clients, on="client_id")

In [37]:
test.head()

,client_id,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type,disrict,client_catg,region,creation_date
0,train_Client_675,1.520986e+09,11,2165702163000,0,207,9,1,607,0,0,0,211,818,4,ELEC,62,11,301,1.492819e+09
1,train_Client_675,1.510618e+09,11,2165702163000,0,207,9,1,2,0,0,0,209,211,4,ELEC,62,11,301,1.492819e+09
2,train_Client_675,1.552522e+09,11,2165702163000,0,207,9,1,689,0,0,0,1706,2395,4,ELEC,62,11,301,1.492819e+09
3,train_Client_675,1.538870e+09,11,2165702163000,0,207,9,1,212,0,0,0,818,1030,4,ELEC,62,11,301,1.492819e+09
4,train_Client_675,1.542240e+09,11,2165702163000,0,207,9,1,676,0,0,0,1030,1706,4,ELEC,62,11,301,1.492819e+09

In [38]:
test["time"]=test["invoice_date"]-test["creation_date"]
test.drop('invoice_date',axis=1, inplace = True)
test.drop('creation_date',axis=1, inplace = True)
test.drop('counter_statue',axis=1, inplace = True)
test['counter_type'] = test['counter_type'].apply(convcounter_type)
test["index"]=(test["old_index"]+test["new_index"])/2
test.drop('old_index',axis=1, inplace = True)
test.drop('new_index',axis=1, inplace = True)
test.groupby(["client_id"]).mean().astype(int)
test.head()

,client_id,tarif_type,counter_number,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,months_number,counter_type,disrict,client_catg,region,time,index
0,train_Client_675,11,2165702163000,207,9,1,607,0,0,0,4,1,62,11,301,28166400.0,514.5
1,train_Client_675,11,2165702163000,207,9,1,2,0,0,0,4,1,62,11,301,17798400.0,210.0
2,train_Client_675,11,2165702163000,207,9,1,689,0,0,0,4,1,62,11,301,59702400.0,2050.5
3,train_Client_675,11,2165702163000,207,9,1,212,0,0,0,4,1,62,11,301,46051200.0,924.0
4,train_Client_675,11,2165702163000,207,9,1,676,0,0,0,4,1,62,11,301,49420800.0,1368.0

In [39]:
from sklearn.model_selection import train_test_split 
# Split the data into training and testing sets 
xTrain, xTest, yTrain, yTest = train_test_split( 
        xtrain, ytrain, test_size = 0.2, random_state = 42)

In [40]:
print("Before OverSampling, counts of label '1': {}".format(sum(yTrain == 1))) 
print("Before OverSampling, counts of label '0': {} \n".format(sum(yTrain == 0))) 
  
# import SMOTE module from imblearn library 
# pip install imblearn (if you don't have imblearn in your system) 
from imblearn.over_sampling import SMOTE 
sm = SMOTE(random_state = 2) 
X_train_res, y_train_res = sm.fit_sample(xTrain, yTrain.ravel()) 
  
print('After OverSampling, the shape of train_X: {}'.format(X_train_res.shape)) 
print('After OverSampling, the shape of train_y: {} \n'.format(y_train_res.shape)) 
  
print("After OverSampling, counts of label '1': {}".format(sum(y_train_res == 1))) 
print("After OverSampling, counts of label '0': {}".format(sum(y_train_res == 0)))

Before OverSampling, counts of label '1': 208878
Before OverSampling, counts of label '0': 2414878

After OverSampling, the shape of train_X: (4829756, 16)
After OverSampling, the shape of train_y: (4829756,)

After OverSampling, counts of label '1': 2414878
After OverSampling, counts of label '0': 2414878

In [ ]:
import pandas
import matplotlib.pyplot as plt
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC



# prepare configuration for cross validation test harness
seed = 7
# prepare models
models = []
models.append(('LR', LogisticRegression()))
models.append(('LDA', LinearDiscriminantAnalysis()))
models.append(('KNN', KNeighborsClassifier()))
models.append(('CART', DecisionTreeClassifier()))
models.append(('NB', GaussianNB()))
models.append(('SVM', SVC()))
# evaluate each model in turn
results = []
names = []
scoring = 'accuracy'
for name, model in models:
	kfold = model_selection.KFold(n_splits=10, random_state=seed)
	cv_results = model_selection.cross_val_score(model, X_train_res, y_train_res, cv=kfold, scoring=scoring)
	results.append(cv_results)
	names.append(name)
	msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
	print(msg)

/usr/local/lib/python2.7/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LR: 0.108203 (0.167153)
LDA: 0.398215 (0.074992)
KNN: 0.773302 (0.044016)
CART: 0.961200 (0.023453)
NB: 0.488071 (0.409787)

/usr/local/lib/python2.7/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
classifier.fit(X_train_res, y_train_res)
y_pred = classifier.predict(XTest)

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

In [ ]:
test_clientid = test['client_id']
test_arr = test.values
test_pred = rfc.predict(test_arr)
test_pred_df = pd.DataFrame(test_pred, columns=['target'])
test_pred_df['client_id'] = test_clientid
result = test_pred_df.drop_duplicates(subset=['client_id'], keep='first')
result.to_csv('PricePred7.csv',index=False)